<div class="row black-bgr" style="height: 100%">

  <div class="col-sm-12">
    <app-search-menu></app-search-menu>
  </div>

  <div class="col-sm-12" style="text-align: center; padding-top: 1rem">
    <h1>{{nombre}}</h1>
  </div>

  <div class="col-sm-12"><h3 style="margin-left: 50px">Peliculas</h3></div>

  <div class="col-sm-12 black-bgr">
    <div class="row" style="margin-left: 50px;padding-top: 1rem">

      <div class="col-sm-2 hvr-grow" *ngFor="let info of arregloPeliculas"
           style="padding-left: 30px; margin-right: 100px; margin-top: 20px">
        <div class="card black-bgr" style="width: 250px" (click)="redirect(info.id)">
          <img class="card-img-top" src={{info.imagen}} alt="Card image cap" style="height: 20rem; width: 100%">
          <div class="card-body" style="text-align: center">
            <h4 class="card-title">{{info.nombre}}</h4>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-12 black-bgr" style="padding-top: 1rem"><h3 style="margin-left: 50px">Series</h3></div>

  <div class="col-sm-12 black-bgr">
    <div class="row" style="margin-left: 50px;padding-top: 1rem">

      <div class="col-sm-2 hvr-grow" *ngFor="let info of arregloSeries"
           style="padding-left: 30px; margin-right: 100px; margin-top: 20px">
        <div class="card black-bgr" style="width: 250px" (click)="redirectSerie(info.id)">
          <img class="card-img-top" src={{info.imagen}} alt="Card image cap" style="height: 20rem; width: 100%">
          <div class="card-body" style="text-align: center">
            <h4 class="card-title">{{info.nombre}}</h4>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-12 black-bgr" style="color: black">1</div>

</div>
