<div class="row black-bgr" style="padding-top: 2rem">

  <div class="col-sm-12" style="text-align: center">
    <h1>Series Agregadas</h1>
  </div>

  <div class="col-sm-12" style="padding-top: 1rem">

    <div class="row">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner hvr-grow">
            <div class="carousel-item active">
              <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <img class="d-block w-100" (click)="redirect(0)" [src]="arregloImagenes[0]" alt="First slide" style="height: 25rem">
              </div>
              <div class="col-sm-3"></div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                  <img class="d-block w-100" (click)="redirect(1)"[src]="arregloImagenes[1]" alt="First slide" style="height: 25rem">
                </div>
                <div class="col-sm-3"></div>
              </div>
            </div>
            <!--<div class="carousel-item">
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                  <img class="d-block w-100" (click)="redirect(2)"[src]="arregloImagenes[2]" alt="" style="height: 25rem">
                </div>
                <div class="col-sm-3"></div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                  <img class="d-block w-100" (click)="redirect(3)" [src]="arregloImagenes[3]" alt="" style="height: 25rem">
                </div>
                <div class="col-sm-3"></div>
              </div>
            </div>-->
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
      <div class="col-sm-3"></div>

    </div>

  </div>

  <div class="col-sm-12"></div>

</div>

