<app-search-menu></app-search-menu>
<div class="row black-bgr">

  <div class="col-sm-12">

    <div class="card bg-dark text-white">
      <img class="card-img" src="{{imagen}}" alt="Card image" style="height: 40rem">
      <div class="card-img-overlay" style="width: 40rem; padding-top: 30rem">
        <!--<h5 class="card-title">{{nombre}}</h5>-->
        <span style="font-weight: 300; font-size: .875em;" class="card-text">{{sinopsis}}</span>
      </div>

    </div>

  </div>


  <div class="col-sm-12">

    <div class="row mt-4" *ngFor="let lista of temporadas" style="padding-left: 1rem">

      <div class="col-sm-3" style="padding-top: 1rem">
        <h2 align="center">Temporada {{lista.numero}}</h2>
        <img [src]="lista.imagen" class="img-fluid rounded mx-auto d-block" style="height: 25rem; width: 20rem" alt="">
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-8" style="padding-top: 4rem">
        <div class="hvr-grow" id="hola" *ngFor="let info of lista.capitulos; let i = index" style="width: 90%">
          <div class="row" style="padding-bottom: 1rem; font-size: 1.2em" (click)="redirect(info.id)" >
          <div class="col-sm-2" style="margin-top: 1rem"><span>Episodio {{i+1}}</span></div>
          <div class="col-sm-8" style="margin-top: 1rem"><span>{{info.titulo}}</span></div>
          <div class="col-sm-2" style="margin-top: 1rem"><span>{{info.duracion}}</span></div>





          <!--<h6 (click)="redirect()" >Episodio {{i}} {{info.titulo}}     {{info.duracion}}</h6>-->
          </div>
        </div>
      </div>

    </div>

  </div>


</div>
