<app-search-menu></app-search-menu>

<div class="row black-bgr">

  <div class="col-sm-12" style="text-align: center; padding-top: 1rem">
    <h1>Películas</h1>
  </div>


<div class="row black-bgr" style="margin-left: 50px;padding-top: 1rem">

  <div class="col-sm-2 hvr-grow" *ngFor="let info of arregloPeliculas" style="padding-left: 30px; margin-right: 100px; margin-top: 20px">
    <div class="card black-bgr" style="width: 250px" (click)="redirect(info.id)">
      <img class="card-img-top" src={{info.imagen}} alt="Card image cap" style="height: 20rem; width: 100%">
      <div class="card-body" style="text-align: center">
        <h4 class="card-title" >{{info.nombre}}</h4>
      </div>
    </div>
  </div>

</div>

  <div class="col-sm-12"></div>
  <div class="col-sm-12" style="padding-left: 35rem; padding-top: 1rem">
    <!--<button type="button" class="btn btn-link">Mostrar Más</button>-->
    <div class="row">

      <div class="col-sm-2" ><button id="peliculaAnterior" class="btn btn-primary" (click)="mostrarAnteriores('peliculaAnterior','peliculaSiguiente')">Anteriores</button></div>
      <div class="col-sm-2" ><button id="peliculaSiguiente" class="btn btn-primary" (click)="mostrarMas('peliculaSiguiente','peliculaAnterior')">Siguientes</button></div>

    </div>
  </div>
  <div class="col-sm-12" style="color: black">d</div>

</div>

